.phone, #editTable {
    margin: 2px;
    width: calc(49%);
    float:left;
    border: 1px solid white;
    border-radius: 4px;
    float:left;
    margin: 5px 3px 5px 3px;
    box-shadow: 0px 0px 4px grey;
}
@media (max-width: 800px) {
    .phone {width: calc(100%);}
}

#editTable {
    width: 100%;
}

.phone:hover {
    background: #eee;
    box-shadow: 0px 0px 0px grey;
    border: 1px solid #ddd;
}


.wrapper {
    width: 250px;
    height: 250px;
    border-radius: 10px;
}
@media (max-width: 800px) {
    .wrapper {
        width: 120px;
        height: 120px;
    }
}
.wrapper-small {
    width: 120px;
    height: 120px;
    border-radius: 10px;
}
.photo {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.photo img {
    height: 100%;
    width: auto;
}
